@page "/ViewTodos"
@using HttpClients.ClientInterfaces
@using Domain.Models
@inject ITodoService todoService;

<h3>ViewTodos</h3>

<div>
    <button @onclick="LoadTodos">Load</button>
</div>

@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@if (todos == null)
{
    //Not loaded yet
}
else if (!todos.Any())
{
    <p>No todos to display</p>
}
else
{
    <table>
        <tr>
            <th>Todo ID</th>
            <th>Owner</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
        <tbody>
        @foreach (Todo todo in todos)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Owner.UserName</td>
                <td>@todo.Title</td>
                <td>@todo.IsCompleted</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Todo>? todos;
    private string msg = "";

    private async Task LoadTodos()
    {
        msg = "";
        try
        {
            todos = await todoService.GetAsync(null, null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}